# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test files
test
cypress
*.test.ts
*.spec.ts
__tests__
coverage

# Environment files
.env
.env.*

# Documentation
*.md
!README.md

# OS files
.DS_Store
Thumbs.db

# Quasar
.quasar

